html, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container
{
    display: flex;

    background: black;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.overlay
{
    position: absolute;
}

.grid
{
    display: grid;
}

.grid div
{
    margin: 10px 10px;

    color: white;
}
